@font-face {
    font-family: 'Palatino LT Std';
    src: url('PalatinoLTStd-Roman.woff2') format('woff2'),
        url('PalatinoLTStd-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

